
# TESTCONTAINERS

TESTCONTAINERS_HTTP_PORT=4000
TESTCONTAINERS_DB_DSN="sqlserver://sa:oPax9HFmjU4AVAqXEeA@localhost:14330?database=test&TrustServerCertificate=true"
TESTCONTAINERS_DB_MAXOPENCONNS=256
TESTCONTAINERS_DB_MAXIDLECONNS=256
TESTCONTAINERS_DB_MACIDLETIME="15m"
TESTCONTAINERS_DB_TIMEOUT=30